.chat-body{
    display: flex;
    justify-content: space-between;
    gap: 28px;
    align-items: start;
    margin-top: 4vh;
}
.menu-chat{
    width: 15vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 8px 12px;
    border: solid 1px #ccc;
    margin-left: 1vw;
    border-radius: 12px;
    overflow-y: scroll;
}
.chat-card{
    width: 80vw;
    margin-right: 5vw;
    padding: 8px 12px;
    border: solid .8px #ccc;
    border-radius: 12px;
}
.chat-content{
    width: 100%;
    height: 61vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: flex-start;
    gap: 10px;
}
.chat-input{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}
.chat-message{
    max-width: 45vw;
    width: fit-content;
    padding: 4px 3px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sender-message{
    align-self: flex-end;
}
.receiver-message{
    align-self: start;
}

.group-chat{
    width: 13vw;
    padding: 5px;
    border-radius: 8px;
    border: solid 1px #645b96;
}
.group-profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu-chat-picture{
    width: 40px;
    height: 40px;
    border-color: #ccc;
    border-radius: 50%;
    border: solid 1px #ccc;
}
.group-name{
    font-size: 13px;
    color: rgb(14, 13, 13);
    font-weight: bold;
}
.send-message{
    cursor: pointer;
}